* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p, span, small {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #eee;
}
a {
    color: #000;
    text-decoration: none;
}

.header {
    height: 80px;
    background-color: #fff;
    padding: 0 1rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1;
}
.site-logo {
    font-size: 1.2rem;
}

.movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin: 2rem;
}

.movie {
    background-color: #fff;
    width: 14rem;
    height: 21rem;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.movie:hover .movie-details {
    opacity: 1;
}

.movie img {
    width: 100%;
    height: 100%;
}

.movie-name {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    padding: 1.5rem .5rem 1rem; 
    transform: translateX(-50%);
    text-align: center;
    background: linear-gradient(to top, #000, rgb(0, 0, 0, .5) 50%, transparent 100%);
}
.movie-name h3 {
    font-size: .9rem;
    color: #fff;
}

.movie-rate {
    position: absolute;
    top: .5rem;
    right: .5rem;
    background-color: #fed700;
    font-size: .8rem;
    padding: .2rem .5rem;
    border-radius: 3px;
}

.movie-details {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1rem;
    color: #fff;
    background-color: rgba(11, 20, 26, 0.849);
    opacity: 0;
    transition-duration: .2s;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;/* Internet Explorer 10+ */
}
.movie-details::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.movie-details__title {
    margin-bottom: .8rem;
}
.movie-details__text {
    font-size: .95rem;
}
.movie-details__genres,
.movie-details__qualities {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.movie-details__genres-items,
.movie-details__qualities-items {
    margin-top: .5rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.movie-details__genres span,
.movie-details__qualities span {
    background-color: #fed700;
    color: #222;
    font-size: .85rem;
    padding: .2rem .5rem;
    border-radius: 3px;
}




.overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden;
    overflow-y: auto; 
    transition: 0.3s;
    z-index: 1;
}
.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 60px;
    color: #fff;
}
.header .openbtn {
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* search section */
.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 80px;
}
.search-section input {
    width: 80vw;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #bbb;
    text-align: left;
    padding: .5rem 1rem;
    outline: none;
}

.inputSection {
    position: relative;
}

.results-preview {
    width: 80vw;
    height: auto;
    background-color: #fff;
    padding: 1rem;
    margin-top: -1.5rem;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.show-results-box {
    display: block;
    max-height: 400px;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;/* Internet Explorer 10+ */
    position: absolute;
    z-index: 1;
    top: 70px;
    border: 1px solid #bbb;
    border-top-style: dotted;
}
.preview-card {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: .7rem;
    transition-duration: .1s;
    border-radius: 5px;
}
.preview-card:hover {
    background-color: #ddd;
}
.preview-card__image {
    width: 50px;
    height: 60px;
    margin-right: 1rem;
    border-radius: 3px;
}
.preview-card__title {
    display: inline;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg) scale(1.1); }
    100% { transform: rotate(360deg); }
}

.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid #a423fa;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: spin 1s infinite;
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
}
.spinner-large {
    width: 50px;
    height: 50px;
    border: 6px solid #a423fa;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: spin 1s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}




@media screen and (min-width: 800px) {
    .header {
        padding: 0 3rem;
    }
    .site-logo {
        font-size: 1.5rem;
    }
}




.movie-page {
    max-width: 1200px;
    display: flex;
    gap: 1rem;
    margin: 2rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 5px;
}
.movie-page img {
    width: 200px;
    height: 290px;
    border-radius: 5px;
}
.movie-page__details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.movie-page__details-scores .imdb-score {
    background-color: #f5c518;
    padding: .5rem .8rem;
    border-radius: 5px;
}
.movie-page__details-genres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
}
.movie-page__details-genres .genre {
    background-color: #333;
    border-radius: 5px;
    padding: .3rem .6rem;
    color: #fff;
}
.movie-page__details-qualities {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
}
.movie-page__details-qualities .quality {
    background-color: #333;
    border-radius: 5px;
    padding: .3rem .6rem;
    color: #fff;
}
.movie-page__details-summary .summary {
    margin-top: .5rem;
    line-height: 1.3rem;
    text-indent: 2rem;
}


section.casts {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.movie-casts-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.movie-casts {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}
.movie-casts .cast {
    width: 80px;
    height: 80px;
    position: relative;
}

.movie-casts .cast img {
    width: 100%;
    height: 100%;
}
.cast-name-container {
    background-color: rgba(15, 15, 15, 0.884);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    transition-duration: .2s;
    color: #fff;
    opacity: 0;
}
.movie-casts .cast:hover .cast-name-container {
    opacity: .8;
    transition-duration: .2s;
    /* opacity: 1; */
}
.cast-name {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: .8rem;
    margin: auto
}
.movie-screenshots {
    display: flex;
    flex-direction: column;
}
.screenshots {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}
.screenshots img {
    width: 200px;
    height: 120px;
}
.movie-torrent {
    display: flex;
    flex-direction: column;
}
